@use '@/styles/abstracts/mixins.scss' as m;

.form {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  padding: 0 20px 20px;
  border: 1px solid var(--color-gray);
  box-shadow: 0 0 10px var(--color-gray);
  border-radius: 10px;
  @include m.font(Verdana, 16px, 22px, 400);

  &__label {
    display: inline-block;
    width: 100%;
  }

  &__label-text {
    margin-bottom: 10px;
  }

  &__label-error {
    margin-top: 10px;
    color: var(--color-error);
  }

  input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
  }

  &__success {
    max-width: 300px;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    @include m.font(Verdana, 14px, 22px, 400);
    text-align: center;
    background-color: var(--color-success);
    color: var(--color-black);
  }
}
