@use '@/styles/abstracts/mixins' as m;

.modal {
  $self: &;
  opacity: 0;
  visibility: hidden;

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 600px;
    height: fit-content;
    padding: 46px 51px;
    background: var(--color-white);
    transform: translate(-50%, -50%);
    transition: transform var(--app-transition-smooth) ease;
    overflow: auto;

    display: flex;
    flex-direction: column;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition:
            opacity var(--app-transition-smooth) ease,
            visibility var(--app-transition-smooth) ease;
    pointer-events: none;
    visibility: hidden;
  }

  &--open {
    opacity: 1;
    visibility: visible;

    #{$self}__overlay {
      z-index: 999;
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}
